*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    padding-top: 100px;
    background-color: antiquewhite;
}
.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    text-transform: uppercase;
}
header h1{
    font-weight: bold;
    font-size: 24px;
}
header img{
    height: 30px;
    margin-right: 8px;
}
form{
    text-align: center;
}
form input, form button{
    width: 150px;
    padding: 3px;
    border-radius: 2px;
}
form input{
    outline-color: none;
    border: 1px solid #000;
}
form button{
    border: none;
    background-color: green;
    cursor: pointer;
}
ul{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-style: italic;
}
ul li:hover{
    cursor: pointer;
}
