*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 400px;
    display: flex;
}
header .container{
    flex-direction: column;
    align-items: center;
}
header{
    margin-top: 100px;
}
form .container{
    display:block;
}
form input, button{
    width: 400px;
    padding: 8px;
    margin-top: 8px;
}
button{
    background-color: rgb(56, 56, 56);
    color: #fff;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color:rgb(104, 104, 104);
}
.error{
    color: red;
    outline-color: red;
    border-color: red;
}
.message-error{
    color: #fff;
    background-color: red;
    margin-top: 3px;
    padding: 2px;
    display: none;
}
#mensagem-sucesso{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: gray;
    margin-top: 5px;
    color: #fff;
    padding: 4px;
}